#cabecalho{
  background-color:#6175f0;
  color: white;
  padding-top: 20px;
  padding-left: 34px;
  padding-bottom: 13px;
}

.primeira{
  width: 310px;
  float: left;
}

#box1{
  padding-left: px;
  box-sizing: padding-box;
}
.title{
  font-size: 34px;
  font-family: "Kaushan Script";
}

.mito{
  font-size: 24px;
}

h2{
  font-size: 24px;
  font-family: "Times New Roman";
}
